/* Type */

body {
	background-color: #00995c;
	color: #ff6666;
	font-family: 'Cabin Sketch', cursive;
	line-height: 0.7;
    	font-size: 7em;
    	overflow: hidden;
}

main {
	transform: skewY(-20deg);
	height: 70vh;
}

.new-1 {
  	font-size: 3em;
  	position: fixed;
 	color: #003300;
  	font-weight: bolder;
  	filter: contrast(100%);
  	transform: rotateX(150deg);
  	top:500px;
  	right: 30px;
  	z-index: 3;
 }

.word-1 {
	font-family: 'Lobster', cursive;
	font-size: 3em;
  	color: #ffe6cc;
  	filter: opacity(50%);
	position:   static;
    	z-index: 1;
    	transform: scaleX(1);
  }
  .word-2 {
  	font-family: 'Carter One', cursive;
  	letter-spacing: 10px;
      	text-shadow: 100px 1px #ff4d4d;
      	font-weight: 600;
      	transform-style: preserve-3d;
      	filter: blur(20px);
      	font-size: 5em;
      	color: #ffffff;
      	z-index: 3;
  }
